body{
	height: 1000px;
	width: 1000px;
}
p.message{
	margin-left: 5px;
}
p.champs{
	font-size: 13px;
	display: inline;
}
input.login{
	border-radius: 12px;
	width: 100px;
}
input#button{
	margin-left: 200px;
	margin-top: 10px;
}
div#mdp,
div#login{
	display: inline;
}
li{
	margin-left: 5px;
	list-style-type: none;
	display: inline;
}
nav#menu{
	margin-left: 160px;
	top: 60px;
	position: absolute;
}
nav#conn{
	margin-left: 570px;
	top: 73px;
	right: 5px;
	position: absolute;

}
nav#gauche{
	left: 10px;
	top: 50px;
	position: absolute;
}
fieldset#infos{
	margin-left: 200px;
	margin-right: 200px;
	margin-top: 130px;
}
fieldset#user{
	margin-left: 200px;
	margin-right: 200px;
	margin-top: 10px;
}
footer{
	margin-left: 200px;
	top: 580px;
	position: absolute;
}